<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links de Listagem</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="links-container">
        <div class="links-content">
            <h1>Principal</h1>
            <ul>
                <li><a th:href="@{/listar-produto.html}">Listar Produto</a></li>
                <li th:if="${tipoUsuario == 1}">
                    <a th:href="@{/listaUser}">Listar Usuário</a>
                </li>
                <li><a th:href="@{/listar-pedido.html}" class="gray-link">Listar Pedido</a></li>
            </ul>
        </div>
    </div>
</body>
</html>