body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header-index {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.header-index h1 {
    margin: 0;
    font-size: 24px;
}

.logout-button-index {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    background-color: #f44336;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.logout-button-index:hover {
    background-color: #e53935;
}

.secondary-header-index {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.secondary-header-index h2 {
    margin: 0;
    font-size: 18px;
}

.new-product-button-index {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.new-product-button-index:hover {
    background-color: #45a049;
}

.search-container-index {
    display: flex;
    align-items: center;
}

.search-input-index {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: #e9ecef;
}

.search-button-index {
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button-index:hover {
    background-color: #45a049;
}

.content-index {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button-index {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.button-index:hover {
    background-color: #45a049;
}

.status-checkbox {
    transform: scale(1.2);
}
