@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Poppins";
    color: var(--cor);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4D8DBC;
}
.conteudo{
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.conteudo::before{
    content: "";
    position: absolute;
    opacity: 77%;

    background-color: #6889FF;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px; 
   border-bottom-left-radius: 15px;



    left: 0;
}

.title {

    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    
}
.title-primary {
    color: #fff;
}
.title-second{
    color: #6889FF;
}

.descricao{
    font-size: 14px;
    font-weight: 300;
    line-height: 38px;
}
.descricao-primary{
    color: #fff;
}
.descricao-second{
    color: #7f8c8d;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
 
 }
.btn:hover{
 background-color: #DF4747;
 color: #fff;
}

.btn-primary{ 
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;


}   
.btn-primary:hover{
    color: #fff;
    background-color: #DF4747;
}
.btn-second{
    color: #000;
    background-color: #6889FF;
    border: 1px solid #aca2a2;
    transition: background-color .5s;

  
}

.btn-second:hover{
    color: #fff;
    background-color: #DF4747;
    border: 1px solid #aca2a2;

}
.primeiro-conteudo{
    display: flex;
   } 
   
.primeiro-conteudo .segunda-coluna{
    z-index: 15;
}
.primeira-coluna{
    text-align: center;
    width: 40%;
    z-index: 10;
}
 .primeira-coluna{
    text-align: center;
    width: 40%;
    z-index: 10;
    margin-bottom: 20px;
   
}

.segunda-coluna{
    width: 60%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.formulario input{
    height: 30px;
    border: none;
    background-color: #ecf0f1;
    display: flex;
        border-radius: 3px;
        flex-direction: column;
        -webkit-text-fill-color: #000;

        margin: 2px;

    }

   .formulario input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.segundo-conteudo{
    position: absolute;
display: flex;
}
.segundo-conteudo .primeira-coluna{
    order: 2;
    z-index: -1;
}
.segundo-conteudo .segunda-coluna{
    order: -1;
z-index: -1;}
.password{
    color: #4D8DBC ;
    font-size: 14px;
    margin:15px 0 ;
    text-align: center;
}
    .password::first-letter{
        text-transform: capitalize;
       
      }
      .btn-central{
        font-size: 14px;
        margin:15px 0 ;
    
      }
.sign-in-js .primeiro-conteudo .primeira-coluna,
.sign-in-js .primeiro-conteudo .segunda-coluna{
    z-index: -1;
}

.sign-in-js .segundo-conteudo .primeira-coluna,
.sign-in-js .segundo-conteudo .segunda-coluna{
    z-index: 11;
}
 .sign-in-js .conteudo::before{
    left: 60%;
    border-bottom-left-radius: 0;
     border-top-left-radius: 0; 
    border-top-right-radius: 15px; 
   border-bottom-right-radius: 15px;
   animation: slidein 300ms;

 }
 .sign-up-js .conteudo::before{
    animation: slideout 300ms;

 }

 .sign-up-js .segundo-conteudo .primeira-coluna, 
 .sign-up-js .segundo-conteudo .segunda-coluna{
 z-index: -1;
 }
 .sign-up-js .primeiro-conteudo .primeira-coluna,
 .sign-up-js .primeiro-conteudo .segunda-coluna{
 z-index: 11;
 }

 /*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
       
    }

    50% {
        left: -100px;
        opacity: .2;
       
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
       
    }

    50% {
        left: 100px;
        }

    to {
        left: 110px;
        z-index: -1;
    }
}


/*ANIMAÇÃO CSS*/

@keyframes slidein {

    from {
        left: 0;
        width: 40%;
    }

    25% {
        left: 5%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 45%;
        width: 50%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from {
        left: 60%;
        width: 40%;
    }

    25% {
        left: 45%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 5%;
        width: 50%;
    }

    to {
        left: 0;
        width: 40%;
    }
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .conteudo {
        width: 100%;
        height: 100%;
    }

    .conteudo::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .primeiro-conteudo, .segundo-conteudo {
        flex-direction: column;
        justify-content: space-around;
    }
    

    .primeira-coluna, .segunda-coluna{
        width: 100%;
    }
    
    .sign-in-js .conteudo::before{
        top: 60%;
        left: 0;
        border-radius: 0;

    }

    .formulario {
        width: 90%;
    }
    
    /* ANIMAÇÃO MOBILE CSS*/

    @keyframes deslocamentoEsq {

        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }
    
        25% {
            top: -80px;
            opacity: .5;
        }
    
        50% {
            top: -100px;
            opacity: .2;
        }
    
        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }
    
    
    @keyframes deslocamentoDir {
    
        from {
            top: 0;
            z-index: 12;
        }
    
        25% {
            top: 80px;
        }
    
        50% {
            top: 100px;
             }
    
        to {
            top: 110px;
            z-index: -1;
        }
    }
    
    
    
    @keyframes slidein {
    
        from {
            top: 0;
            height: 40%;
        }
    
        25% {
            top: 5%;
            height: 50%;
        }
    
        50% {
            top: 25%;
            height: 60%;
        }
    
        75% {
            top: 45%;
            height: 50%;
        }
    
        to {
            top: 60%;
            height: 40%;
        }
    }
    
    @keyframes slideout {
    
        from {
            top: 60%;
            height: 40%;
        }
    
        25% {
            top: 45%;
            height: 50%;
        }
    
        50% {
            top: 25%;
            height: 60%;
        }
    
        75% {
            top: 5%;
            height: 50%;
        }
    
        to {
            top: 0;
            height: 40%;
        }
    }
   
}

@media screen and (max-width: 740px) {
    .formulario {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .formulario {
        width: 100%;
    }
}








.conteudo {
    height: 75vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-size: 20px;
}

.item-cabecalho {
    padding: 0px 10px;
}

.item-cabecalho-1 {
    display: flex;
    position: relative;
    left: 10%;
}

.cabecalho-login {
    display: flex;
    position: relative;
    left: 80%;
}

.item-cabecalho:hover {
    cursor: pointer;
    text-decoration: underline;
}

nav{
    background-color: white;
}

nav li a{
    background-color: white;
    padding: 0px 20px;
    font-size: 20px;
    font-family: Poppins;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu a {
    padding: 10px 10px;
}

nav li a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-sair a{
    background-color: rgb(255, 0, 0);
}

.dropdown-menu{
    position: absolute;
    padding: 10px 0px;
    display: none;
}
.user {
    background-color: white;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.parte1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 166, 202);
    min-height: 700px;
    width: 100%;
    padding: 5% 0%;
}

.conteudo-pt1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10%;

    padding: 50px;
}

.conteudo-login {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.conteudo-login input {
    margin: 30px 0px;
    width: 500px;
    height: 20px;
    border: 0px;
    border-bottom: 1px solid black !important;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.conteudo-login button {
    margin: 10px 0px;
    width: 300px;
    height: 50px;
    border: 0px;
    border-bottom: 0px;
    box-shadow: 0 0 0 0;
    border-radius: 3%;

    background-color: rgb(243, 110, 110);
    border: 0 none;
    outline: 0;
}

.button-sla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-titulo {
    font-size: 32px;
    margin-bottom: 40px;
}

.conteudo-img {
    padding: 20px;
    justify-content: center;
}

.conteudo-img2 {
    display: none;
}

.img-text {
    display: none;
}